body,
html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
}

.flexContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
}
.flexContainer:nth-child(3) {
	margin: 10px;
}
.flexContainer p {
	padding: 0;
	margin: 0;
}

#playersContainer {
	display: flex;
	justify-content: center;
	/* border: solid 2px red; */
}
#playersContainer p {
	padding: 5px;
}
button {
	margin: 10px;
	width: 200px;
	background-color: #006ae8;
	cursor: pointer;
	border-style: none;
	border-radius: 8px;
	padding: 10px 21px;
	color: aliceblue;
}

.dice img {
	width: 100px;
	padding: 10px;
	height: 100px;
}

a {
	text-decoration: none;
	color: aliceblue;
}

.rules-text {
	margin: auto;
	width: 50%;
}

#playerName {
	margin: 10px;
	padding: 10px 15px;
	text-align: center;
	border: solid black 2px;
	border-radius: 8px;
}
